{% extends "bootstrap/base.html" %}

{% block title %}Flask-Skeleton{% endblock %}

{% block head %}
{{ super() }}
<link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
<link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}">
<link href='http://fonts.googleapis.com/css?family=Molle:400italic' rel='stylesheet' type='text/css'>
{% endblock %}
{% block navbar %}
{% endblock %}

{% block content %}
<div class="site-wrapper">
  <div class="site-wrapper-inner">
    <div class="cover-container">
      <div class="masthead clearfix">
        <div class="inner">
          <h3 class="masthead-brand">Flask-Skeleton</h3>
          <ul class="nav masthead-nav">
            <li class="active"><a href="#">Home</a></li>
          </ul>
        </div>
      </div>
	    {% block page_content %}{% endblock %}
	  <div class="mastfoot">
        <div class="inner">
          <p>This template is made with <a href="http://getbootstrap.com">Bootstrap</a>, by <a href="https://twitter.com/mdo">@mdo</a>, and can be found on the Bootstrap example page.</p>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block scripts %}
{{ super() }}
{% endblock %}