{% extends "base.html" %}

{% block title %}Flasky-Skeleton{% endblock %}

{% block page_content %}
    <div class="site-wrapper">
      <div class="site-wrapper-inner">
        <div class="cover-container">
          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">Flask-Skeleton</h3>
              <ul class="nav masthead-nav">
                <li class="active"><a href="#">Home</a></li>
              </ul>
            </div>
          </div>
          <div class="inner cover">
            <h1 class="cover-heading">Flask-Skeleton</h1>
            <p class="lead">Welcome to Flask-skeleton! Not a whole lot to see here, but <b>you</b> will change that soon.</p>
            <p>
              Flask-Skeleton makes use of a few Flask plugins like Flask-Bootstrap and Flask-SQLAlchemy. You can check them out in the requirements.txt. This app template is based for a large part on the work <a href="http://http://blog.miguelgrinberg.com/">Miguel Grinberg</a> did for his book <a href="http://shop.oreilly.com/product/0636920031116.do">Flask Web Development</a>. If your new to Flask I sugest you check it out, it's a very good intro to Flask.
            </p>
            <p>
              I made this skeleton app so I would have a good base to start my next Flask app from.
            </p>
          </div>
          <div class="mastfoot">
            <div class="inner">
              <p>This template is made with <a href="http://getbootstrap.com">Bootstrap</a>, by <a href="https://twitter.com/mdo">@mdo</a>, and can be found on the Bootstrap example page.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}